<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home File</title>
</head>
<body bgcolor="Yellow" >
    
    <center>
    <H1>this is home page</H1>
    <!-- <h1>My name is: {{n}}</h1><br>
    <h1>My roll no is: {{r}}</h1> -->
</center>

<!-- <form action="" > 
   / <tr> -->
        <!-- create button and assign value to each button -->
        <!-- dis("1") will call function dis to display value -->
        <!-- <td><input type="button" value="add" onclick="dis('add')"
                    onkeydown="myFunction(event)"> </td>
        <td><input type="button" value="sub" onclick="dis('sub')"
                    onkeydown="myFunction(event)"> </td>
        <td><input type="button" value="mul" onclick="dis('mul')"
                    onkeydown="myFunction(event)"> </td>
        <td><input type="button" value="div" onclick="dis('div')"
                    onkeydown="myFunction(event)"> </td>
    </tr> 


</form> -->

<form action="/" method="GET">
    {% csrf_token %}
    <input type="text" name="num1" id="num1"><br>
    <input type="text" name="num2" id="num2"><br>
    <input type="submit" value="add" name="operator">
    <input type="submit" value="sub" name="operator">
    <input type="submit" value="mul" name="operator">
    <input type="submit" value="div" name="operator">
    <textarea name="" id="result" cols="30" rows="10"></textarea>
</form>

<br><br><br>

<h1 style="color: red;" >This is our calculated result!!!{{ans}}</h1>

</body>
</html>